.filter-form {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.filter-form_items{
    display: flex;
    flex-direction: row;
    position: relative;
}
.mt1{
    margin-top: 1px;
}
.action-btns {
    position: relative;
}
.save-btn {
    position:absolute;
    right: 14px;
}
.delete-btn{
    position:absolute;
    right: 0px;
}
